<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch" >
		<arg name="paused" value="false"/>
		<arg name="world_name" value="$(find sjtu_drone)/worlds/ar_tag.world"/>
	</include>
	
	<include file="$(find gazebo2rviz)/launch/gazebo2rviz.launch" >
	</include>
	<node name="spawn_robot_1" pkg= "sjtu_drone" type="spawn_drone"/>

	<node pkg="tf" type="static_transform_publisher" name="transform_publisher" args=" 0.0 0.0 0 0 0 0 sjtu_drone__base_link camera_link 100" />
  
</launch>
